<!DOCTYPE html>
<html lang="zh_cn">
  <head>
    <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="author" content="" />
    <title>Toppick</title>
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="./docs-assets/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="shortcut icon" href="./docs-assets/ico/favicon.png" />
  </head>
  <body>
  	<div id="main">
      <div id="nav">
        <% if (user) { %>
          <span><a title="发表" href="/post">post</a></span>
          <span><a title="登出" href="/logout">logout</a></span>
        <% } else { %>
          <span><a title="登录" href="/login">login</a></span>
          <span><a title="注册" href="/signup">Sign up</a></span>
        <% } %>
      </div>

      <div>
        <% if (success) { %>
          <div><%= success %></div>
        <% } %>
        <% if (error) { %>
          <div><%= error %> </div>
        <% } %>
      </div>